body{
    background-image:url(BackroomWall.jpg);
}

.main1{
    position: relative;
}

.main2{
    position: absolute;
    transform: translate(50%,75%);
    text-align: center;
    font-size: 150%;
}